{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DOC</title>
    <link rel="stylesheet" href="{%static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{%static 'icofont/icofont.min.css' %}">  
    <link href='https://fonts.googleapis.com/css?family=Acme' rel='stylesheet'>
        
</head>
<body ><footer class="bg-primary-subtle">
    <div class="container">
    <div class="row bg-primary-subtle text-dark">
        <div class="col-md-3 pt-5">

            <h4 class="mb-3 mt-3" >ABOUT US</h4>
            <p class="pb-4">Sed ut perspiciatis unde omnis iste natus error voluptatem
                Sed ut perspiciatis unde omnis iste natus error
                voluptatem. Sed ut perspiciatis</p>
            <i class="icofont-facebook border p-3 rounded-circle " style="background:blue;"></i>
            <i class="icofont-twitter border p-3 rounded-circle " style="background:skyblue;"></i>
            <i class="icofont-instagram border p-3 rounded-circle " style="background:rgb(193, 73, 93);"></i>
            <i class="icofont-linkedin border p-3 rounded-circle " style="background:orange;"></i>
            <i class="icofont-ui-message border p-3 rounded-circle " style="background:red;"></i><br><br>
        </div>
        <div class="col-md-2 pt-5">
            <h4 class="mb-3 mt-3" >USEFUL LINKS</h4>
            <p><i class="icofont-caret-right"></i> HOME</p>
            <p><i class="icofont-caret-right"></i> ABOUT US</p>
            <p><i class="icofont-caret-right"></i> SERVICE</p>
            <p><i class="icofont-caret-right"></i> BLOGS</p>
            <p><i class="icofont-caret-right"></i> EDITORS</p>
        </div>
        <div class="col-md-2 pt-5">
            <h4 class="mb-3 mt-3" >SERVICES</h4>
            <p><i class="icofont-caret-right"></i>ROTATE </p>
            <p><i class="icofont-caret-right"></i>RESIZE</p>
            <p><i class="icofont-caret-right"></i>EDGE DETECTION </p>
            <p><i class="icofont-caret-right"></i>GIFS </p>
            <p><i class="icofont-caret-right"></i>GREY SCALING </p>
        </div>
        <div class="col-md-2 pt-5">
            <h4 class="mb-3 mt-3 " >HELP</h4>
            <p><i class="icofont-caret-right"></i>REVIEW</p>
            <p><i class="icofont-caret-right"></i>HELP & SUPPORT </p>
            <p><i class="icofont-caret-right"></i>CONTACT US</p>
            <p><i class="icofont-caret-right"></i> FAQ'S</p>
            <p><i class="icofont-caret-right"></i>FAQ's</p>
        </div>
        
        <div class="col-md-3 pt-5" >
            <h4 class="mb-3 mt-3" ></h4>
            <img src="{%static 'images/foot1.png' %}"> 
            <img src="{%static 'images/foot2.png' %}"> 
            <img src="{%static 'images/foot3.png' %}"> 
            <img src="{%static 'images/foot4.png' %}"> 
            <img src="{%static 'images/foot5.png' %}"> 
            <img src="{%static 'images/foot6.png' %}"> 
        
    </div>
        
    </div>
    <hr>
    </div><br><br>
   <div class="row text-light" style="background:black">
    <center>  <div class="col-md-6 pt-5 pb-5">@2023. All Rights Reserved.@picstock.com</div></center>

</body>

</html>